.bar {
  background: #171a21;
  width: 100%;
  height: 6.75em;
  display: flex;
  justify-content: space-between;
  /* Espaço entre logo e botão */
  align-items: center;
  padding: 0 1em;
  /* Adiciona espaçamento interno */
  box-sizing: border-box;
  /* Garante que o padding não afete o tamanho total */
}

.bar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar div h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  font-family: Inter, sans-serif;
  margin-left: 0.5em;
  /* Espaçamento entre logo e texto */
}

.bar div img {
  padding-right: 0.675em;
}

@media (max-width: 768px) {
  .bar {
    flex-direction: column;
    /* Alinha os itens em coluna em telas menores */
    height: auto;
    /* Ajusta a altura dinamicamente */
  }

  .bar .logo {
    margin-bottom: 1em;
    /* Espaçamento entre logo e botão */
  }
}